.container {
    display: flex
}

.button {
    margin-top:0.5em;  
    margin-right:1em; 
    margin-bottom: 0.5em;
    border-radius: 0.6em;
    border: 0em solid var(--primary-color);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-size:medium;
    font-family:'Poppins';
    font-weight: bolder;
    height:2.5em;
    padding: 0.5em;
    cursor:pointer;
    box-sizing: border-box;
}
.modal {
    width: 30em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-white);
    padding: 16px;
    border-radius: 4px;
    color: var(--secondary-color);
    border: 0.25em solid var(--primary-color);
  }
  
  .modalTitle {
    text-align: center;
  }
  
  .closeIcon {
    position: absolute;
    top: 8px;
    right: 8px;
  }

.modal > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MuiTextField-root {
    margin: 8px;
}

.submitButton {
    height: 3em; 
    border-radius: 8px; 
  }