/* Button.module.css */

.container {
    display: flex
}

.button {
    margin-top:0.5em;  
    margin-right:1em; 
    margin-bottom: 0.5em;
    border-radius: 0.6em;
    border: 0em solid var(--primary-color);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-size:medium;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    height:2.5em;
    padding: 0.5em;
    /* width:12em;
    max-width: 100%;  */
    box-sizing: border-box;
 }
