.hero{
    background-color: var(--secondary-color);
}

.headings{
    color:var(--color-white);
    font-family:'Poppins';
    font-size: x-large;
    font-weight:900;
    word-spacing:0.1em;
    margin-top: 3em;
    margin-left: 10em;
}

